{% extends 'master.html' %}
{% load static %}
{% block content %}
    <section class="text-white">
        <div class="slideshow slide-in" style="height: 100vh;">
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex align-items-center"
                     style="background-image:url(../static/images/banner-large-image.png);">
                    <div class="banner-content w-100">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h2 class="section-title text-uppercase display-2 mt-5 ">Summer Glow</h2>
                                    <p class="caption opacity-75">Tortor eget placerat arcu integer. Lectus fames egestas tincidunt
                                        aliquet vivamus nibh lorem nulla. This is Modern fashion ectus fames egestas tincidunt aliquet
                                        vivamus nibh lorem nulla.</p>
                                    <div class="btn-left btn-swiper">
                                        <a href="#" class="btn btn-light text-white bg-transparent text-uppercase mt-3">Shop Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex align-items-center"
                     style="background-image:url(../static/images/banner-large-image1.png);">
                    <div class="banner-content w-100">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-8 offset-md-2 text-center ">
                                    <h2 class="section-title text-uppercase display-2 mt-5">Summer Glow</h2>
                                    <p class="caption opacity-75">Tortor eget placerat arcu integer. Lectus fames egestas tincidunt
                                        aliquet vivamus nibh lorem nulla. This is Modern fashion ectus fames egestas tincidunt aliquet
                                        vivamus nibh lorem nulla.</p>
                                    <div class="btn-left btn-swiper">
                                        <a href="#" class="btn btn-light text-white bg-transparent text-uppercase mt-3">Shop Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex align-items-center"
                     style="background-image:url(../static/images/banner-large-image2.jpg);">
                    <div class="banner-content w-100">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-8 offset-md-2 text-center ">
                                    <h2 class="section-title text-uppercase display-2 mt-5">Summer Glow</h2>
                                    <p class="caption opacity-75">Tortor eget placerat arcu integer. Lectus fames egestas tincidunt
                                        aliquet vivamus nibh lorem nulla. This is Modern fashion ectus fames egestas tincidunt aliquet
                                        vivamus nibh lorem nulla.</p>
                                    <div class="btn-left btn-swiper">
                                        <a href="#" class="btn btn-light text-white bg-transparent text-uppercase mt-3">Shop Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-slideshow "></div>

            <!-- <i class="icon-arrow  light-arrow icon-arrow-left"></i>
            <i class="icon-arrow  light-arrow icon-arrow-right"></i> -->
        </div>
    </section>

    <section class="features py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24" class="svg-color">
                            <use xlink:href="#calendar"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">Book An Appointment</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24" class="svg-color">
                            <use xlink:href="#shopping-bag"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">Pick up in store</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24" class="svg-color">
                            <use xlink:href="#gift"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">Special packaging</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24" class="svg-color">
                            <use xlink:href="#arrow-cycle"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">free global returns</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="new-arrival" class="new-arrival product-carousel position-relative open-up" data-aos="zoom-out">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center my-5 py-lg-5">
                <div class="line-img my-2">
                    <img src="../static/images/line.png" alt="">
                </div>
                <h4 class="text-uppercase mb-0">New Arrivals</h4>
                <div class="line-img my-2">
                    <img src="../static/images/line.png" alt="">
                </div>
            </div>
            <div class="swiper product-swiper overflow-hidden">
                <div class="swiper-wrapper d-flex">
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item5.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item13.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item8.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item12.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item9.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="icon-arrow no-outline icon-arrow-left bg-light"></div>
            <div class="icon-arrow no-outline icon-arrow-right bg-light"></div>
            <div class="text-center mt-5">
                <a href="shop-sidebar.html" class="btn-link">View All Products</a>
            </div>

        </div>
    </section>

    <section id="best-sellers" class="best-sellers product-carousel position-relative py-5 my-5 open-up"
             data-aos="zoom-out">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center my-5 py-lg-5">
                <div class="line-img my-2">
                    <img src="../static/images/line.png" alt="">
                </div>
                <h4 class="text-uppercase mb-0">Best Selling Items</h4>
                <div class="line-img my-2">
                    <img src="../static/images/line.png" alt="">
                </div>
            </div>
            <div class="swiper product-swiper overflow-hidden">
                <div class="swiper-wrapper d-flex">
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item7.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item11.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item1.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item3.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item15.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="icon-arrow no-outline icon-arrow-left bg-light"></div>
            <div class="icon-arrow no-outline icon-arrow-right bg-light"></div>
            <div class="text-center mt-5">
                <a href="shop-sidebar.html" class="btn-link">View All Products</a>
            </div>

        </div>
    </section>

    <section class="categories full-width-container overflow-hidden">
        <div class="row d-flex flex-wrap g-0">
            <div class="col-md-6 col-sm-6">
                <div class="cat-item position-relative">
                    <div class="image-holder">
                        <a href="shop.html"><img src="../static/images/cat-large-item1.jpg" alt="categories"
                                                 class="product-image img-fluid"></a>
                        <div class="category-content position-absolute p-md-5 ps-5 p-3 text-uppercase  ">
                            <h2 class="section-title text-white display-3">Skin Care</h2>
                            <div class="btn-left btn-swiper">
                                <a href="shop.html" class="btn btn-light text-white bg-transparent text-uppercase">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="">
                    <div class="cat-item position-relative">
                        <div class="image-holder">
                            <a href="shop.html"><img src="../static/images/cat-large-item2.jpg" alt="categories"
                                                     class="product-image img-fluid"></a>
                            <div class="category-content position-absolute p-md-5 ps-5 p-3 text-uppercase">
                                <h4 class="section-title text-white display-6">Make-Up Products</h4>
                                <div class="btn-left btn-swiper mt-3">
                                    <a href="shop.html" class="btn btn-light text-white bg-transparent text-uppercase">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="cat-item position-relative">
                        <div class="image-holder">
                            <a href="shop.html"><img src="../static/images/cat-large-item3.jpg" alt="categories"
                                                     class="product-image img-fluid"></a>
                            <div class="category-content position-absolute p-md-5 ps-5 p-3 text-uppercase">
                                <h4 class="section-title text-white display-6">Beauty Products</h4>
                                <div class="btn-left btn-swiper mt-3">
                                    <a href="shop.html" class="btn btn-light text-white bg-transparent text-uppercase">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="related-products" class="related-products product-carousel py-5 position-relative open-up"
             data-aos="zoom-out">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center my-5 py-lg-5">
                <div class="line-img my-2">
                    <img src="../static/images/line.png" alt="">
                </div>
                <h4 class="text-uppercase mb-0"> Related Products </h4>
                <div class="line-img my-2">
                    <img src="../static/images/line.png" alt="">
                </div>
            </div>
            <div class="swiper product-swiper overflow-hidden">
                <div class="swiper-wrapper d-flex">
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item14.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item2.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item10.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item6.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item ">
                            <div class="image-holder position-relative">
                                <a href="single-product.html">
                                    <img src="../static/images/product-item4.jpg" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-cart ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-6 mt-3">
                                        <a href="single-product.html">Natural Glow</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="icon-arrow no-outline icon-arrow-left bg-light"></div>
            <div class="icon-arrow no-outline icon-arrow-right bg-light"></div>
            <div class="text-center mt-5">
                <a href="shop-sidebar.html" class="btn-link">View All Products</a>
            </div>

        </div>
    </section>

    <section class="collection container py-5">
        <div
                class="collection-item  row g-4 d-flex justify-content-between align-items-center flex-direction-row flex-wrap my-5">
            <div class="col-md-5 column-container">
                <div class="cat-item position-relative">
                    <div class="image-holder">
                        <a href="shop.html"><img src="../static/images/collection-banner.jpg" alt="categories"
                                                 class="product-image img-fluid"></a>
                        <div class="collection-content position-absolute p-5 text-uppercase  ">
                            <h2 class="section-title text-white display-3 "> <strike>25%</strike> Now 50% OFF</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 column-container collection-bg">
                <div class="collection-content mx-md-5 my-5">
                    <h2 class="element-title text-uppercase display-4 ">Summer collection</h2>
                    <p>Dignissim lacus, turpis ut suspendisse vel tellus. Turpis purus, gravida orci, fringilla a. Ac sed eu
                        fringilla odio mi. Consequat pharetra at magna imperdiet cursus ac faucibus sit libero. Ultricies quam nunc,
                        lorem sit lorem urna, pretium aliquam ut. In vel, quis donec dolor id in. Pulvinar commodo mollis diam sed
                        facilisis at cursus imperdiet cursus ac faucibus sit faucibus sit libero.</p>
                    <a href="#" class="btn btn-dark  text-uppercase mt-3">Shop Collection</a>

                </div>
            </div>
        </div>
    </section>

    <section class="logo-bar mt-5 py-5">
        <div class="container">
            <div class="row mt-5 ">
                <div class="logo-content d-flex flex-wrap justify-content-between">
                    <img src="../static/images/logo1.png" alt="logo" class="logo-image img-fluid my-3">
                    <img src="../static/images/logo2.png" alt="logo" class="logo-image img-fluid my-3">
                    <img src="../static/images/logo3.png" alt="logo" class="logo-image img-fluid my-3">
                    <img src="../static/images/logo4.png" alt="logo" class="logo-image img-fluid my-3">
                    <img src="../static/images/logo5.png" alt="logo" class="logo-image img-fluid my-3">
                </div>
            </div>
        </div>
    </section>

    <section class="blog my-5 py-5">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
                <h4 class="text-uppercase">Read Blog Posts</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="post-item">
                        <div class="post-image">
                            <a href="single-post.html">
                                <img src="../static/images/post-image1.jpg" alt="image" class="post-grid-image img-fluid">
                            </a>
                        </div>
                        <div class="post-content d-flex flex-wrap gap-2 my-3">
                            <div class="post-meta text-uppercase  text-secondary">
                                <span class="post-category">Fashion /</span>
                                <span class="meta-day"> jul 11, 2022</span>
                            </div>
                            <h5 class="post-title text-uppercase">
                                <a href="single-post.html">How to look outstanding in pastel</a>
                            </h5>
                            <p>Dignissim lacus,turpis ut suspendisse vel tellus.Turpis purus,gravida orci,fringilla...</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="post-item">
                        <div class="post-image">
                            <a href="single-post.html">
                                <img src="../static/images/post-image2.jpg" alt="image" class="post-grid-image img-fluid">
                            </a>
                        </div>
                        <div class="post-content d-flex flex-wrap gap-2 my-3">
                            <div class="post-meta text-uppercase  text-secondary">
                                <span class="post-category">Fashion /</span>
                                <span class="meta-day"> jul 11, 2022</span>
                            </div>
                            <h5 class="post-title text-uppercase">
                                <a href="single-post.html">Top 10 make-up trend for summer</a>
                            </h5>
                            <p>Turpis purus, gravida orci, fringilla dignissim lacus, turpis ut suspendisse vel tellus...</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="post-item">
                        <div class="post-image">
                            <a href="single-post.html">
                                <img src="../static/images/post-image3.jpg" alt="image" class="post-grid-image img-fluid">
                            </a>
                        </div>
                        <div class="post-content d-flex flex-wrap gap-2 my-3">
                            <div class="post-meta text-uppercase  text-secondary">
                                <span class="post-category">Fashion /</span>
                                <span class="meta-day"> jul 11, 2022</span>
                            </div>
                            <h5 class="post-title text-uppercase">
                                <a href="single-post.html">daily skin care routine for teens</a>
                            </h5>
                            <p>Turpis purus, gravida orci, fringilla dignissim lacus, turpis ut suspendisse vel tellus...</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class=" text-center py-3">
                <a href="blog-Summer.html" class="btn-link">View All</a>
            </div>
        </div>
    </section>

    <section class="newsletter my-5" style="background: url(../static/images/newsletter-image.jpg) no-repeat; ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 py-5 my-5">
                    <div class="subscribe-header text-center pb-3">
                        <h3 class="section-title text-uppercase ">Sign Up for our newsletter</h3>
                    </div>
                    <form id="form" class="d-flex flex-wrap gap-2">
                        <input type="text" name="email" placeholder="Your Email Addresss"
                               class="form-control form-control-lg rounded-pill fs-6 py-3 px-4 ">
                        <button class="btn btn-dark btn-lg bg-dark text-white text-uppercase rounded-pill py-3 w-100">Sign
                            Up</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="instagram my-5 py-5">
        <div class="container">
            <h4 class="text-center py-3 ">Follow us on Instagram</h4>

            <div class="row d-flex flex-wrap my-3 g-0">
                <figure class=" col instagram-item magnific position-relative">
                    <a href="#" class="">
                        <img src="../static/images/insta-item1.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay d-flex justify-content-center">
                            <svg width="30" height="30" viewBox="0 0 30 30" style="color: #fff4f4;">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
                <figure class=" col instagram-item magnific position-relative">
                    <a href="#" class="">
                        <img src="../static/images/insta-item3.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay d-flex justify-content-center">
                            <svg width="30" height="30" viewBox="0 0 30 30" style="color: #fff4f4;">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
                <figure class=" col instagram-item magnific position-relative">
                    <a href="#" class="">
                        <img src="../static/images/insta-item4.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay d-flex justify-content-center">
                            <svg width="30" height="30" viewBox="0 0 30 30" style="color: #fff4f4;">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
                <figure class=" col instagram-item magnific position-relative">
                    <a href="#" class="">
                        <img src="../static/images/insta-item5.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay d-flex justify-content-center">
                            <svg width="30" height="30" viewBox="0 0 30 30" style="color: #fff4f4;">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
                <figure class=" col instagram-item magnific position-relative">
                    <a href="#" class="">
                        <img src="../static/images/insta-item6.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay d-flex justify-content-center">
                            <svg width="30" height="30" viewBox="0 0 30 30" style="color: #fff4f4;">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </div>
                    </a>
                </figure>
            </div>
        </div>
    </section>


{% endblock  %}